@import "../../style/variables.scss";

.demographicQuestions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.demographicQuestions h1 {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}

.demographicQuestions h2 {
  margin-bottom: 2rem;
}

.demographicQuestions p {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.demographicQuestions button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;

  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $purple;
  text-transform: uppercase;
  width: fit-content;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 3px $purple solid;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3rem;
  border-radius: 3rem;
  transition: 0.3s ease all;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  background-color: $purple;
  cursor: pointer;
  outline: none;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  transition: 0.3s ease all;

  left: 1rem;
  bottom: 1rem;
  position: absolute;
}

.checkboxContainer {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

.leftCenter {
  width: fit-content;
  margin-bottom: 2rem;
  display: inline-block;
}

.leftCenter span {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.leftCenter input[type="checkbox"] {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 1.5rem;
  border: 2px solid $purple;
  position: relative;
  top: 5px;
  cursor: pointer;

  &:checked {
    background: $purple;
  }
}

.checkboxContainer {
  margin-bottom: 0.25rem;
}

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .demographicQuestions p {
    font-size: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .demographicQuestions button {
    &:hover {
      background-color: $purple;
      color: white;
    }

    &:focus {
      background-color: $purple;
      color: white;
    }
  }

  .buttonContainer button {
    &:hover {
      background-color: darken($purple, 20%);
    }

    &:focus {
      background-color: darken($purple, 30%);
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .demographicQuestions {
    width: 60%;
  }
  .homeText h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .homeText h2 {
    font-size: 2rem;
    letter-spacing: 7px;
    margin-bottom: 1rem;
  }
  .homeText p {
    font-size: 1.5rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {
}
